
.settings/org.eclipse.buildship.core.prefs
.project
.gradle/vcs-1/gc.properties
.gradle/configuration-cache/gc.properties
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/6.8/gc.properties
.gradle/6.8/fileHashes/fileHashes.lock
.gradle/6.8/fileChanges/last-build.bin
.gradle/6.8/executionHistory/executionHistory.lock
