<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
  <title>
    Admin - Contracktor
  </title>
</head>
<body>
  <th:block th:fragment="content">
    <div class="container">

      <!-- Beginn Content -->

      <!-- Begin Head of the Page -->
      <!-- Set with of the page -->
      <div class="py-3 text-center col-md-7 col-lg-8 mx-auto">

        <!-- Set icon of the page -->
        <div class="feature-icon bg-secondary bg-gradient mx-auto">
          <!-- Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" class="bi bi-toggles" viewBox="0 0 16 16">
            <path d="M4.5 9a3.5 3.5 0 1 0 0 7h7a3.5 3.5 0 1 0 0-7h-7zm7 6a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm-7-14a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zm2.45 0A3.49 3.49 0 0 1 8 3.5 3.49 3.49 0 0 1 6.95 6h4.55a2.5 2.5 0 0 0 0-5H6.95zM4.5 0h7a3.5 3.5 0 1 1 0 7h-7a3.5 3.5 0 1 1 0-7z"/>
          </svg>
        </div>

        <!-- Heading and explanation of the page -->
        <h2>
          Admin-Konsole
        </h2>
        <p class="lead">
          Registrieren Sie neue Nutzer oder verwalten Sie bestehende Nutzer.
        </p>

      </div>
      <!-- End Head of the Page -->

      <!-- Beginn Body of the Page -->
      <!-- Set with of the page -->
      <div class="col-md-7 col-lg-8 mx-auto">

        <!-- Applications -->
        <div class="card">
          <div class="card-body">

            <!-- Ordering applications -->
            <div class="row py-3">

              <!-- Register user -->
              <!-- 3 Icons per row -->
              <div class="col-4 mx-auto text-center app-icon">
                <!-- link to page -->
                <a th:href="@{/admin/register}">
                  <!-- icon, 1em -->
                  <div class="feature-icon bg-primary bg-gradient mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" class="bi bi-person-fill" viewBox="0 0 16 16">
                      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                  </div>
                </a>
                <!-- page context -->
                <h6>
                  Nutzer registrieren
                </h6>
              </div>

              <!-- Register user -->
              <!-- 3 Icons per row -->
              <div class="col-4 mx-auto text-center app-icon">
                <!-- link to page -->
                <a th:href="@{/admin/user}">
                  <!-- icon, 1em -->
                  <div class="feature-icon bg-primary bg-gradient mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" class="bi bi-people-fill" viewBox="0 0 16 16">
                      <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                      <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                    </svg>
                  </div>
                </a>
                <!-- page context -->
                <h6>
                  Nutzer verwalten
                </h6>
              </div>

              <!-- Register user -->
              <!-- 3 Icons per row -->
              <div class="col-4 mx-auto text-center app-icon">
                <!-- link to page -->
                <a th:href="@{/admin/organisation}">
                  <!-- icon, 1em -->
                  <div class="feature-icon bg-primary bg-gradient mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" class="bi bi-shop" viewBox="0 0 16 16">
                      <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                    </svg>
                  </div>
                </a>
                <!-- page context -->
                <h6>
                  Organisationen verwalten
                </h6>
              </div>

              <div class="py-4"></div>

              <!-- Manage roles -->
              <!-- 3 Icons per row -->
              <div class="col-4 mx-auto text-center app-icon">
                <!-- link to page -->
                <a th:href="@{/admin/role}">
                  <!-- icon, 1em -->
                  <div class="feature-icon bg-primary bg-gradient mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" class="bi bi-briefcase" viewBox="0 0 16 16">
                      <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                  </div>
                </a>
                <!-- page context -->
                <h6>
                  Rollen verwalten
                </h6>
              </div>

              <!-- Add and remove Roles to user -->
              <!-- 3 Icons per row -->
              <div class="col-4 mx-auto text-center app-icon">
                <!-- link to page -->
                <a th:href="@{/admin/userrole}">
                  <!-- icon, 1em -->
                  <div class="feature-icon bg-primary bg-gradient mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                  </div>
                </a>
                <!-- page context -->
                <h6>
                  Nutzern Rollen zuweisen
                </h6>
              </div>

              <!-- Add and remove Roles to user -->
              <!-- 3 Icons per row -->
              <div class="col-4 mx-auto text-center app-icon">
                <!-- link to page -->
                <a th:href="@{/admin/state}">
                  <!-- icon, 1em -->
                  <div class="feature-icon bg-primary bg-gradient mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                      <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>

                  </div>
                </a>
                <!-- page context -->
                <h6>
                  Zustände verwalten
                </h6>
              </div>

              <div class="py-4"></div>

              <!-- Add and remove Roles to user -->
              <!-- 3 Icons per row -->
              <div class="col-4 mx-auto text-center app-icon">
                <!-- link to page -->
                <a th:href="@{/admin/transition}">
                  <!-- icon, 1em -->
                  <div class="feature-icon bg-primary bg-gradient mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                    </svg>
                  </div>
                </a>
                <!-- page context -->
                <h6>
                  Zustandsübergange verwalten
                </h6>
              </div>


            </div>

          </div>
        </div>

      </div>
      <!-- End Body of the Page -->

      <!-- End Content -->

    </div>
  </th:block>
</body>
</html>