<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
    <title>
        Admin - Contracktor
    </title>
</head>
<body>
<th:block th:fragment="content">

    <div class="row mx-auto">
        <div class="col-8">
            <div class="card">
                <div th:class="card-body">
                    <h5>Wählen Sie Leistungspositionen aus:</h5>



                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div th:class="card-body">
                    <h5>Folgende Leistungspositionen sind ausgewählt:</h5>



                </div>
            </div>
        </div>
    </div>

</th:block>
</body>
</html>