<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
    <title>
        Organisation - Contracktor
    </title>
</head>
<body>
<th:block th:fragment="content">
    <div class="container">

        <!-- Beginn Content -->

        <!-- Begin Head of the Page -->
        <!-- Set with of the page -->
        <div class="py-2 text-center col-md-7 col-lg-8 mx-auto">

            <!-- Set icon of the page -->
            <!-- Set icon of the page -->
            <div class="py-3 text-center col-md-7 col-lg-8 mx-auto">

                <!-- Set icon of the page -->
                <div class="feature-icon bg-primary bg-gradient mx-auto">
                    <!-- Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" class="bi bi-cone-striped" viewBox="0 0 16 16">
                        <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>
                    </svg>
                </div>

                <!-- Heading and explanation of the page -->
                <h2>
                    Leistungsposition anzeigen
                </h2>
                <p class="lead">
                    Lassen Sie sich Details zu einer Leistungsposition anzeigen und sehen Sie sich zugehörige Leistungspostionen an.
                </p>

            </div>

        </div>
        <div class="pb-1 col-md-7 col-lg-8 mx-auto">
            <a th:href="@{/billingitems}">Zurück</a>
        </div>
        <!-- End Head of the Page -->

        <!-- Beginn Body of the Page -->
        <!-- Set with of the page -->
        <div class="col-md-7 col-lg-8 mx-auto">

            <!-- Add Organisation -->
            <!-- Box around add form -->
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/billingitem}">Leistungspositionsdetails</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true">Zugehörige Leistungspositionen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/reports}">Reports</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div th:if="${billingitems.isEmpty()}">
                        <p>Die Leistungsposition enthält keine weiteren Leistungspositionen.</p>
                    </div>

                    <div th:unless="${billingitems.isEmpty()}">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                    Beschreibung
                            </th>
                            <th>
                                    ID
                            </th>
                            <th>
                                    Menge
                            </th>
                            <th>
                                Einzelpreis
                            </th>
                            <th>
                                    Gesamtpreis
                            </th>
                            <th>
                                    Status
                            </th>
                            <th>
                                Details
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="billingitem : ${billingitems}">
                            <td th:text="${billingitem.getShortDescription()}"></td>
                            <td th:text="${billingitem.getBillingItemID()}"></td>
                            <td th:text="${billingitem.getQuantity()}"></td>
                            <td th:text="${billingitem.getPricePerUnit()}"></td>
                            <td th:text="${billingitem.getTotalPrice()}"></td>
                            <td th:text="${billingitem.getStatus().getStateName()}"></td>
                            <td>
                                <form th:action="@{/billingitem}" method="post">
                                    <button class="btn btn-sm btn-outline-success" type="submit" name="id" th:value="${billingitem.getBillingItemID()}">
                                        Details
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                </div>
            </div>
            <div class="py-5"></div>
        </div>
        <!-- End Body of the Page -->

        <!-- End Content -->

    </div>
</th:block>
</body>
</html>