<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
    <title>
        Organisation - Contracktor
    </title>
</head>
<body>
<th:block th:fragment="content">
    <div class="container">

        <!-- Beginn Content -->

        <!-- Begin Head of the Page -->
        <!-- Set with of the page -->
        <div class="py-2 text-center col-md-7 col-lg-8 mx-auto">

            <!-- Set icon of the page -->
            <!-- Set icon of the page -->
            <div class="feature-icon bg-primary bg-gradient mx-auto">
                <!-- Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" class="bi bi-briefcase" viewBox="0 0 16 16">
                    <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </div>

            <!-- Heading and explanation of the page -->
            <h2>
                Vertrag anzeigen
            </h2>
            <p class="lead">
                Lassen Sie sich einen Vertrag im Detail anzeigen und sehen Sie sich zugehörige Leistungspositionen an.
            </p>

        </div>
        <div class="pb-1 col-md-7 col-lg-8 mx-auto">
            <a th:href="@{/contracts}">Zurück</a>
        </div>
        <!-- End Head of the Page -->

        <!-- Beginn Body of the Page -->
        <!-- Set with of the page -->
        <div class="col-md-7 col-lg-8 mx-auto">

            <!-- Add Organisation -->
            <!-- Box around add form -->
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true">Vertragsdetails</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/contract/billingitems}">Zugehörige Leistungspositionen</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <ol class="list-group">
                        <li class="list-group-item justify-content-between">
                            <div class="m-2 me-auto">
                                <p class="lead">Vertrag</p>
                                <h3 th:text="${contract.getName()}"></h3>
                                <div class="pb-2"></div>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="m-2 me-auto">
                                <div class="fw-bold">Gehört zu</div>
                                <div th:text="${contract.getProject().getName()}"></div>
                                <div class="py-1"></div>
                                <form th:action="@{/project}" method="post">
                                    <button class="btn btn-sm btn-outline-dark" type="submit" name="id" th:value="${contract.getProject().getProjectID()}">
                                        Zum Projekt
                                    </button>
                                </form>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="m-2 me-auto">
                                <div class="fw-bold">Auftraggeber</div>
                                <p th:text="${contract.getConsignee()}"></p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="m-2 me-auto">
                                <div class="fw-bold">Auftragnehmer</div>
                                <p th:text="${contract.getContractor()}"></p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="m-2 me-auto">
                                <div class="fw-bold">Status</div>
                                <span class="badge bg-secondary" th:text="${contract.getStatus().getStateName()}"></span>
                            </div>
                        </li>
                    </ol>
                    <!--<div class="py-3">
                        <form th:action="@{/contract-statistic/generate}" method="post">
                            <button type="submit" class="btn btn-outline-primary" name="id" th:value="${contract.getContractID()}">
                                Baufortschritt anzeigen
                            </button>
                        </form>
                    </div>-->

            <!-- Button trigger modal -->
            <div class="py-2"></div>
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" th:if="${userManager.hasCurrentUserWritePerm()}">
                    Leistungsposition hinzufügen
                </button>
            <div class="py-2"></div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Leistungsposition hinzufügen</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <form method="post" th:action="@{/contract/add}">
                        <div class="modal-body">


                                <div class="mb-3">
                                    <label for="billingItemID" class="form-label">ID der Leistungsposition</label>
                                    <input type="text" class="form-control" id="billingItemID" name="billingItemID">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="billingUnitID">ID der Billing Unit</label>
                                    <select class="form-select" id="billingUnitID" name="billingUnitID">
                                        <option th:each="billingUnitID : ${billingUnitIDs}" th:value="${billingUnitID}" th:text="${billingUnitID}"></option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="unit" class="form-label">Einheit</label>
                                    <input type="text" class="form-control" id="unit" name="unit">
                                </div>
                                <div class="mb-3">
                                    <label for="quanitity" class="form-label">Anzahl</label>
                                    <input type="number" class="form-control" id="quanitity" name="quantity">
                                </div>
                                <div class="mb-3">
                                    <label for="pricePerUnit" class="form-label">Preis pro Einheit</label>
                                    <input type="number" class="form-control" id="pricePerUnit" name="pricePerUnit">
                                </div>
                                <div class="mb-3">
                                    <label for="totalPrice" class="form-label">Gesamtpreis</label>
                                    <input type="number" class="form-control" id="totalPrice" name="totalPrice">
                                </div>
                                <div class="mb-3">
                                    <label for="ifc" class="form-label">IFC</label>
                                    <input type="text" class="form-control" id="ifc" name="ifc">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="state">ID der Billing Unit</label>
                                    <select class="form-select" id="state" name="state">
                                        <option th:each="state : ${states}" th:value="${state.getStateName()}" th:text="${state.getStateName()}"></option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="shortDescription" class="form-label">Kurze Beschreibung</label>
                                    <input type="text" class="form-control" id="shortDescription" name="shortDescription">
                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                            <button type="submit" class="btn btn-success">Speichern</button>
                        </div>
                            </form>
                    </div>
                </div>
            </div>
                </div>
            </div>






            <div class="py-5"></div>
        </div>
        <!-- End Body of the Page -->

        <!-- End Content -->

    </div>
</th:block>
</body>
</html>