<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="stylesheet" th:href="@{/css/error.css}"/>
</head>
<body>
<th:block th:fragment="content">
    <div class="container">
        <center>
            <iframe src="https://gifer.com/embed/7VE" width=480 height=466.286 frameBorder="0" allowFullScreen></iframe>
            <h2>ERROR 404</h2>
        </center>
    </div>
</th:block>
</body>
</html>