<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head/>
<body>
<th:block th:fragment="content">
    <div class="container" th:object="${userlist}">
        <div class="py-3 text-center col-md-7 col-lg-8 mx-auto">
            <div class="feature-icon bg-primary bg-gradient mx-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
            </div>
            <h2>Verwalten Sie Nutzer</h2>
            <p class="lead">Suchen Sie nach Nutzernamen, Namen oder Organisation und lassen Sie sich Details anzeigen. Bearbeiten oder löschen Sie dann Nutzer.</p>
        </div>

        <div class="col-md-7 col-lg-8 mx-auto">

            <div class="card mb-4">
                <div class="card-body">
                    <form action="#" th:action="@{'/admin/manage-user'}" method="post">
                        <label for="search">Nach Nutzernamen, Namen oder Organisation suchen</label>
                        <div class="form-group input-group py-3">
                            <input id="search" type="text" class="form-control" placeholder="Suchen.." name="search" th:value="${search}"/>
                            <button type="submit" class="btn btn-primary">Suchen</button>
                        </div>
                    </form>
                </div>
            </div>

        <div th:each="organisation : ${userlist.organisationList}">
            <h4 th:text="${organisation.getOrganisationName()}" th:if="${!userlist.getUserOfOrganisation(organisation).isEmpty()}" class="py-3"></h4>

            <div class="accordion" id="accordionFlushExample" th:style="'margin-bottom: 20px'">
                <div class="accordion-item" th:each="user : ${userlist.getUserOfOrganisation(organisation)}">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#' + ${user.getUsername()}" aria-expanded="false" aria-controls="flush-collapseOne"><strong><div th:text="${user.getForename()} + ' ' + ${user.getSurname()} "></div></strong><div th:style="'margin-left: 5px'" th:if="${user.getIsAdmin()}" th:text="'- Admin'"></div>
                        </button>
                    </h2>
                    <div th:id="${user.getUsername()}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label for="firstName" class="form-label">Vorname</label>
                                        <input type="text" class="form-control" id="firstName" th:value="${user.getForename()}" disabled>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="lastName" class="form-label">Nachname</label>
                                        <input type="text" class="form-control" id="lastName" th:value="${user.getSurname()}" disabled>
                                    </div>
                                    <div class="col-6">
                                        <label for="username" class="form-label">Nutzername</label>
                                        <div class="input-group has-validation">
                                            <input type="text" class="form-control" id="username" th:value="${user.getUsername()}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="organisation" class="form-label">Organisation</label>
                                        <select class="form-select" id="organisation" name="organisation" disabled>
                                            <option th:text="${user.getOrganisation().getOrganisationName()}"></option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    <div class="px-4 pb-4 pt-2">
                        <a  th:href="@{'/admin/manage-user/edit/' + ${user.getUsername()}}" type="button" class="btn btn-primary">
                            Bearbeiten
                        </a>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#' + ${user.getUsername()} + 'd'">
                            Löschen
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" th:id="${user.getUsername() + 'd'}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Nutzer löschen?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Möchten Sie den Nutzer  <strong th:text="'@' + ${user.getUsername()}"></strong> sicher löschen?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                                        <a th:href="@{'/admin/manage-user/delete/' + ${user.getUsername()}}" type="button" class="btn btn-primary">Nutzer löschen</a>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</th:block>
</body>
</html>