<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head/>
<body>
    <th:block th:fragment="content">
        <div class="container">
            <h3>Projekte</h3>
            <ul>
                <li><a th:href="@{'/project-details/?projectId=' + 1}">Projekt 1</a></li>
            </ul>

            <ul>
                <li th:each="project : ${projects}" th:text="${project.getName()}"></li>
            </ul>
        </div>
    </th:block>
</body>
</html>